# Ignore virtual environment directory
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore compiled files
*.so
*.pyd
*.dll

# Ignore other temporary files
*.tmp
*.swp
*.bak
*.old
.DS_Store
Thumbs.db